<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile"
        xsi:type="File"
        fileName="${basedir}/logs/log.txt"
        archiveEvery="Day"
        archiveFileName="${basedir}/Archives/{#}.txt"
        archiveNumbering="Date"
        archiveDateFormat="yyyy-MM-dd"
        maxArchiveFiles="7" />

    <target name="logfile-debug"
        xsi:type="File"
        fileName="${basedir}/logs/log-debug.txt"
        archiveEvery="Day"
        archiveFileName="${basedir}/Archives/{#}.txt"
        archiveNumbering="Date"
        archiveDateFormat="yyyy-MM-dd"
        maxArchiveFiles="7" />

    <target name="console" xsi:type="Console"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="logfile-debug" />
  </rules>
</nlog>