<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />

    <!--This section group is used to configure for browserstack-->
    <sectionGroup name="bs_environments">
      <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="firefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="edge" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ie" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="safari" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="mobile" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>

  <!--BrowserStack's configuration starts-->
  <bs_environments>
    <chrome>
      <add key="os" value="Windows" />
      <add key="os_version" value="7" />
      <add key="browser" value="Chrome" />
      <add key="browser_version" value="61.0" />
      <add key="resolution" value="1024x768" />
    </chrome>
    <firefox>
      <add key="os" value="Windows" />
      <add key="os_version" value="7" />
      <add key="browser" value="Firefox" />
      <add key="browser_version" value="56.0 beta" />
      <add key="resolution" value="1024x768" />
    </firefox>
    <safari>
      <add key="os" value="OS X" />
      <add key="os_version" value="Sierra" />
      <add key="browser" value="Safari" />
      <add key="browser_version" value="10.0" />
      <add key="resolution" value="1024x768" />
    </safari>
    <ie>
      <add key="os" value="Windows" />
      <add key="os_version" value="7" />
      <add key="browser" value="IE" />
      <add key="browser_version" value="8.0" />
      <add key="resolution" value="1024x768" />
    </ie>
    <edge>
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
      <add key="browser" value="Edge" />
      <add key="browser_version" value="15.0" />
      <add key="resolution" value="1024x768" />
    </edge>
    <mobile>
      <add key="browserName" value="iPhone" />
      <add key="platform" value="MAC" />
      <add key="device" value="iPhone 5" />
    </mobile>
  </bs_environments>

  <!--BrowserStack's configuration End-->



  <appSettings>

    <!--Browserstack-->
    <add key="BROWSERSTACK" value="false" />
    <add key="bs_user" value="phongtrinh2" />
    <add key="bs_key" value="mKzYfQPcaiCnqS6EbE2s" />
    <add key="bs_server" value="hub-cloud.browserstack.com" />
    <add key="browserstack.debug" value="true" />
    <add key="browserstack.local" value="false" />

    <add key="BROWSER" value="chrome" />
    <add key="PATHDRIVER" value=".\Drivers\" />

    <add key="PATHDATA" value=".\RegressionTests\TestData\" />

    <add key="PATH_EXTENT_CONFIG" value=".\Configuration\Extent_Config.xml" />
    <add key="HTML_REPORT_NAME" value="html_report.html" />
    <add key="ISTAKESCREENSHOT" value="true" />
    <add key="SCREENSHOTPATH" value=".\Screenshots\" />

    <!--Daily Report path-->
    <add key="UI_TEST_ENABLED" value="false" />
    <add key="DAILY_REPORT_ENABLED" value="true" />
    <add key="REPORT_PATH" value=".\TestResults\" />
    <add key="BASELINE_PATH" value=".\TestResults\BaseLines\" />

    <add key="IMPLICIT_WAIT" value="10" />
    <add key="WEBDRIVERTIMEOUT" value="10" />
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
    <!--<stepAssemblies>
      <stepAssembly assembly="Automation_Framework" />
    </stepAssemblies>-->
  </specFlow>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>