<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    
    <!--This section group is used to configure for browserstack-->
    <sectionGroup name="bs_environments">
      <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="firefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="edge" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ie" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="safari" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="mobile" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>

  <!--BrowserStack's configuration starts-->
  <bs_environments>
    <chrome>
      <add key="os" value="Windows" />
      <add key="os_version" value="7" />
      <add key="browser" value="Chrome" />
      <add key="browser_version" value="61.0" />
      <add key="resolution" value="1024x768" />
    </chrome>
    <firefox>
      <add key="os" value="Windows" />
      <add key="os_version" value="7" />
      <add key="browser" value="Firefox" />
      <add key="browser_version" value="56.0 beta" />
      <add key="resolution" value="1024x768" />
    </firefox>
    <safari>
      <add key="os" value="OS X" />
      <add key="os_version" value="Sierra" />
      <add key="browser" value="Safari" />
      <add key="browser_version" value="10.0" />
      <add key="resolution" value="1024x768" />
    </safari>
    <ie>
      <add key="os" value="Windows" />
      <add key="os_version" value="7" />
      <add key="browser" value="IE" />
      <add key="browser_version" value="8.0" />
      <add key="resolution" value="1024x768" />
    </ie>
    <edge>
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
      <add key="browser" value="Edge" />
      <add key="browser_version" value="15.0" />
      <add key="resolution" value="1024x768" />
    </edge>
    <mobile>
      <add key="browserName" value="iPhone" />
      <add key="platform" value="MAC" />
      <add key="device" value="iPhone 5" />
    </mobile>
  </bs_environments>

  <!--BrowserStack's configuration End-->
  
  

  <appSettings>

    <!--Browserstack-->
    <add key="BROWSERSTACK" value="false" />
    <add key="bs_user" value="phongtrinh2" />
    <add key="bs_key" value="mKzYfQPcaiCnqS6EbE2s" />
    <add key="bs_server" value="hub-cloud.browserstack.com" />
    <add key="browserstack.debug" value="true" />
    <add key="browserstack.local" value="false" />

    <add key="BROWSER" value="ie" />
    <add key="PATHDRIVER" value=".\Drivers\" />
    <add key="WIDTH" value="" />
    <add key="HEIGHT" value="" />
    
    <add key="PATHDATA" value=".\RegressionTests\TestData\" />
    
    <add key="PATH_EXTENT_CONFIG" value=".\Configuration\Extent_Config.xml" />
    <add key="HTML_REPORT_NAME" value="html_report.html" />
    <add key="ISTAKESCREENSHOT" value="true" />
    <add key="SCREENSHOTPATH" value=".\Screenshots\" />

    <!--Daily Report path-->
    <add key="UI_TEST_ENABLED" value="false" />
    <add key="IMAGE_COMPARE_THRESHOLD" value="10" />
    <add key="DAILY_REPORT_ENABLED" value="true" />
    <add key="REPORT_PATH" value=".\TestResults\" />
    <add key="BASELINE_PATH" value=".\TestResults\BaseLines\" />
    
    <!--SQL Server connection-->
    <add key="SQL_SERVER_CONNECTION_STRING" value="Server=tcp:mo-sea-test.database.windows.net,1433;Initial Catalog=MintecOnline;Persist Security Info=False;User ID=minteconline;Password=xxx;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    
    <add key="IMPLICIT_WAIT" value="10" />
    <add key="WEBDRIVERTIMEOUT" value="10" />
  </appSettings>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <unitTestProvider name="SpecRun" />
    <plugins>
      <add name="SpecRun" />
    </plugins>
  </specFlow>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
